<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
      <add name="MyDbConn1" 
          connectionString="Server=AF-PC\SQLEXPRESS;Database=AFStudio;Trusted_Connection=Yes;"/>
      <add name="MyDbConn2" 
          connectionString="Initial Catalog=AFStudio;Data Source=AF-PC\SQLEXPRESS;Integrated Security=SSPI;"/>
  </connectionStrings> 
 
    
</configuration>